<google-map
  height="500px"
  width="100%"
  [center]="center"
  [zoom]="zoom">

  <map-marker
    *ngFor="let eq of earthquakes"
    #marker="mapMarker"
    [position]="{ lat: eq.latitude, lng: eq.longitude }"
    (mapClick)="popUpInfo(marker, eq)">
  </map-marker>

  <map-info-window>

    <div *ngIf="selectedEarthquake">

      <h3 class="font-bold">
        {{ selectedEarthquake.title }}
      </h3>

      <p>
        Magnitud:
        {{ selectedEarthquake.magnitude }}
      </p>

      <p>
        Ubicación:
        {{ selectedEarthquake.place }}
      </p>

      <p>
        Profunidad:
        {{ selectedEarthquake.depth }} km
      </p>

      <p>
        Riesgo de Tsunami:
        {{ selectedEarthquake.tsunami }}
      </p>

      <a
        [href]="selectedEarthquake.url"
        target="_blank"
        class="text-blue-500 underline">
        Más detalles
      </a>

    </div>

  </map-info-window>

</google-map>