<h1 class="text-white text-4xl mx-6 my-4 p-2 bg-slate-900 rounded-md">EARTHQUAKES DASHBOARD <span class="text-2xl text-gray-400"> Real time seismic activty</span></h1>
<div *ngIf="earthquakes$ | async as earthquakes" class="p-6 space-y-6">

  <div class="grid grid-cols-5 ">

    
    <div class="col-span-1 bg-slate-900 rounded-xl shadow p-4">
      <app-filters></app-filters>
    </div>

    <div class="col-span-4 bg-slate-800 rounded-xl shadow p-4 ml-4">
      <app-earthquake-map
      [earthquakes]="earthquakes">
      </app-earthquake-map>
    </div>

  </div>
  
  
  <div class="grid grid-cols-10">
      
    <div class="bg-slate-800 rounded-xl shadow p-4 text-white col-span-2 mb-16">
      <app-donut
        [earthquakes]="earthquakes">
      </app-donut>
    </div>

    <div class="bg-slate-800 text-white rounded-xl shadow p-4 col-span-6 mx-4">
      <app-timeline
        [earthquakes]="earthquakes">
      </app-timeline>
    </div>

    <div class="bg-slate-800 rounded-xl shadow p-4 col-span-2 text-white mb-16">
      <app-prediction></app-prediction>
    </div>
  </div>
  
</div>
        