<div class="bg-slate-800 p-4 rounded shadow space-y-3">

  <h2 class="text-xl text-white">
    Filtros
  </h2>
  <hr class="border-t border-gray-600 my-4">
<div class="space-y-3">

  <p class="text-white mb-4">Magnitud</p>
  <ngx-slider
    [(value)]="minMagnitude"
    [(highValue)]="maxMagnitude"
    [options]="sliderOptions">
  </ngx-slider>

  <p class="text-sm text-gray-200">
    Intervalo: {{minMagnitude}} - {{maxMagnitude}}
  </p>

</div>
<hr class="border-t border-gray-600 my-4">

<p class="text-white mb-4">Ubicación</p>
<input
  type="text"
  placeholder="Busca el país o ciudad"
  [(ngModel)]="location"
  class=" p-2 w-full bg-slate-500 rounded-md text-white"
/>
<hr class="border-t border-gray-600 my-4">

  <label class="flex items-center gap-2 text-white">

    <input
        class="bg-slate-500"
      type="checkbox"
      [(ngModel)]="tsunami"
    />

    Riesgo de Tsunami

  </label>

  <hr class="border-t border-gray-600 my-4">

  <button
    (click)="applyFilters()"
    class="bg-blue-500 text-white px-4 py-2 rounded mr-2 hover:bg-slate-900 hover:text-blue-200"
  >
    Aplicar
  </button>

  <button
  class="bg-gray-300 px-4 py-2 rounded ml-2  hover:bg-slate-900 hover:text-blue-200"
  (click)="resetFilters()">
  Limpiar
    </button>
  

</div>
